<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>

  <td class='name'>
    <%= product.name %>
  </td>
  
  <p>
    <td class='description'>
    <%= product.description %>
    </td>
  

  <td>
    <%= order.quantity %>
  </td>
  </p>

  <td>
  <%= humanized_money_with_symbol product.price * order.quantity %>
  </td>
</t